<div class="width-auto height-full-vh margin-rigth-20-px margin-bottom-20-px">

  <WiredCard class="wired width-full height-auto display-block">
    <div class="">
      <LinkTo @route="autenticado.admin">Admin</LinkTo>
      {{!-- <Frog/> --}}
    </div>
  </WiredCard>

</div>


